{% include header.html %}
  </head>

  <body>
    <div class="app-container">
      <md-app-bar>
        <div slot="headline">Deep Learning Blogs</div>
        <div slot="actions">
          <md-text-button href='{{ "" | absolute_url }}'>Home</md-text-button>
          <md-text-button href='{{ "/about" | absolute_url }}'>About</md-text-button>
          <md-text-button href='{{ "/blogs" | absolute_url }}'>Blogs</md-text-button>
        </div>
      </md-app-bar>

      <main>
        {{ content }}
      </main>

      <footer>
        <a href="mailto:zafarullahmahmood@gmail.com" class="nounderline" target="_blank">
          zafarullahmahmood@gmail.com</a>
        <a href="https://www.linkedin.com/in/zaffnet/" class="nounderline" target="_blank">
          <span><svg viewBox="0 0 16 16" width="16px" height="16px"><path fill="#828282" d="M13.63,13.63H11.37V9.92c0-0.89-0.02-2.03-1.24-2.03c-1.24,0-1.43,0.97-1.43,1.97v3.77H6.42V6H8.58v0.92h0.03c0.28-0.53,0.96-1.09,2.11-1.09c2.26,0,2.67,1.49,2.67,3.42V13.63z M3.69,4.99c-0.76,0-1.38-0.62-1.38-1.38c0-0.76,0.62-1.38,1.38-1.38c0.76,0,1.38,0.62,1.38,1.38C5.07,4.37,4.45,4.99,3.69,4.99z M2.56,6h2.25v7.63H2.56V6z M14.94,0H1.06C0.47,0,0,0.47,0,1.06v13.88C0,15.53,0.47,16,1.06,16h13.88c0.59,0,1.06-0.47,1.06-1.06V1.06C16,0.47,15.53,0,14.94,0z"/></svg>
</span><span>zaffnet</span></a>
      </footer>
    </div>
{% include footer.html %}
